.nav {
  width: 100%;
  height: 57px;
  background: rgba(0,119,182,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.nav_contact {
  width: 72px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 14px;
  left: 1295px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.nav_home {
  width: 40px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 18px;
  left: 372px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.nav_services {
  width: 89px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 18px;
  left: 452px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.nav_aboutus {
  width: 61px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 18px;
  left: 581px;
  font-family: Mulish;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.nav_logo {
  width: 136px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 196px;
  font-family: Mulish;
  font-weight: Black;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
