* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3837_101 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  margin: 18px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.nav {
  width: 100%;
  height: 57px;
  background: rgba(0,119,182,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v3837_185 {
  width: 100%;
  height: 493px;
  background: rgba(249,253,254,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v3837_187 {
  width: 730px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 104px;
  left: 355px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 44px;
  opacity: 1;
  text-align: center;
}
.v3837_188 {
  width: 730px;
  color: rgba(115,123,125,1);
  position: absolute;
  top: 207px;
  left: 359px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3837_189 {
  width: 136px;
  height: 42px;
  background: rgba(60,100,177,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 652px;
  overflow: hidden;
}
.v3837_190 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 308px;
  left: 676px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3837_191 {
  width: 100%;
  height: 108px;
  background: url("../images/v3837_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 0px;
  overflow: hidden;
}
.v3837_192 {
  width: 920px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 260px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v3837_193 {
  width: 920px;
  color: rgba(115,123,125,1);
  position: absolute;
  top: 54px;
  left: 260px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v3837_211 {
  width: 394px;
  height: 76px;
  background: rgba(255,255,255,1);
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 49px;
  overflow: hidden;
}
.v3837_212 {
  width: 350px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3837_213 {
  width: 350px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 36px;
  left: 22px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3837_214 {
  width: 394px;
  height: 76px;
  background: rgba(255,255,255,1);
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 523px;
  overflow: hidden;
}
.v3837_215 {
  width: 350px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3837_216 {
  width: 350px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 36px;
  left: 22px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v3837_218 {
  width: 350px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3837_219 {
  width: 350px;
  color: rgba(55,63,65,1);
  position: absolute;
  top: 36px;
  left: 22px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3837_194 {
  width: 100%;
  height: 159px;
  background: url("../images/v3837_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 56px 49px;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 0px;
  overflow: hidden;
}
.v3837_214 {
  width: 394px;
  height: 76px;
  background: rgba(255,255,255,1);
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 523px;
  overflow: hidden;
}
.v3837_217 {
  width: 394px;
  height: 76px;
  background: rgba(255,255,255,1);
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 427px;
  overflow: hidden;
}